@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Thai:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


#header {
    display: flex;
    position: sticky;
    z-index: 100000;
    top: 0;
    align-items: center;
    background-color: #0048FF;
    height: 7.5rem;
    width: 100%;
    transition: all 0.5s;
}

.LOGO {
    display: flex;
    flex: 1;
    transform-origin: center;
    width: 100px;
    height: 10rem;
    object-fit: fill;
    pointer-events: none;
    margin-left: 5%;
    transition: all 0.5s;
}


.header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 10%;
}

.nav {
    display: flex;
    font-size: 1rem;
    margin-left: 3rem;
    text-decoration: none;
    color: white;
}

.headerm {
    display: none;
    flex: 1;
    margin-right: 5%;
}

.LOGOM {
    display: none;
    flex: 1;
    transform-origin: center;
    width: 100px;
    height: 5rem;
    object-fit: fill;
    pointer-events: none;
}


.navmobile {
    display: none;
    color: white;
    width: 25px;
    height: 25px;
    transform: scale(1);
    cursor: pointer;
    margin-right: 10%;
}

#myLinks {
    position: absolute;
    max-width: 400px;
    opacity: 1;
}

.navm {
    display: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: none;
    align-items: center;
    position: relative;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: flex;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #ffffff;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.hamburger-menu {
    display: flex;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;

    width: 50%;
    max-width: 10rem;
    height: 100%;

    margin: 0;
    margin-top: 5rem;
    padding: 2rem 0;

    list-style: none;

    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: .25s;

    text-decoration: none;
    z-index: 9999;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #000000;
    font-size: 1rem;
    font-weight: 500;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}


.CCP {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    transition: all 0.5s;
    font-weight: 650;
}

.Content {
    margin-top: 0.2rem;
    font-size: 1.25rem;
    text-align: center;
    transition: all 0.5s;
    color: #3f3f3fb0;
}

.Content:last-child {
    margin-bottom: 2rem;
}

.Special {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.Box1 {
    background-color: rgb(4, 0, 247);
    border-radius: 15px;
    width: 100%;
    height: 17.5rem;
    overflow: hidden;
    /* ซ่อนส่วนที่เกิน */
    position: relative;
}

.Box2 {
    background-color: red;
    border-radius: 15px;
    width: 100%;
    height: 17.5rem;
    overflow: hidden;
    /* ซ่อนส่วนที่เกิน */
    position: relative;
}

.Box3 {
    background-color: rgb(81, 255, 0);
    border-radius: 15px;
    width: 100%;
    height: 17.5rem;
    overflow: hidden;
    /* ซ่อนส่วนที่เกิน */
    position: relative;
}

.space {
    margin: 2%;
    width: 100%;
}

.Subtitle {
    margin-top: 0.6rem;
    font-size: 0.5rem;
}

.SubtitleText {
    font-size: 1.25rem;
    margin-left: 0.2rem;
    transition: all 0.5s;
}

.img-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ครอบเต็มกล่องแบบไม่ยืดบิด */
    display: block;
}

.Scope {
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.ScopeW {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ScopeH {
    margin-top: 2%;
    margin-left: 0.2rem;
    font-size: 3rem;
    transition: all 0.5s;
    font-weight: 650;
}


ul li {
    margin-bottom: 1.25rem;
}

.ScopeP {
    display: flex;
    flex: 2;
    margin-left: 2%;
}

.Picture {
    display: flex;
    height: 90%;
    width: 100%;
    background-color: #0048FF;
    margin: 1%;
    margin-left: -1%;
    margin-right: 3%;
    margin-top: 2%;
    border-radius: 15px;
}

.Pic1 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 15px 0 0 15px;
    transition: all 1s;
}

.Pic2 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    transition: all 1s;
}

.Pic3 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    transition: all 1s;
}

.Pic4 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    transition: all 1s;
}

.Pic5 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 0 15px 15px 0;
    transition: all 1s;
}

.Pic1:hover {
    flex: 3;
}

.Pic2:hover {
    flex: 3;
}

.Pic3:hover {
    flex: 3;
}

.Pic4:hover {
    flex: 3;
}

.Pic5:hover {
    flex: 3;
}

.Lower {
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 3.5rem;
    background-color: #0048FF;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


@media screen and (max-width: 800px) {

    .nav {
        display: none;
    }

    #header {
        height: 5rem;
    }

    .LOGO {
        display: none;
    }

    .headerm {
        display: flex;
    }

    .LOGOM {
        display: flex;
    }

    .navmobile {
        display: flex;
    }

    #myLinks {
        display: block;
    }

    .navm {
        display: block;
    }

    .menu__btn {
        display: flex;
    }

    .CCP {
        font-size: 2.5rem;
    }

    .Content {
        font-size: 1rem;
    }

    .Special {
        flex-wrap: wrap;
    }

    .SubtitleText {
        font-size: 1rem;
    }

    .ScopeH {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .Scope {
        flex-direction: column;
    }

    .Picture {
        margin: 1%;
        margin-left: 0;
        margin-right: 1.5%;
        margin-top: 1%;
        height: 300px;
    }

}

@media screen and (max-width: 1100px) {
    .ScopeH {
        margin-bottom: 1rem;
        text-align: center;
    }

    .Scope {
        flex-direction: column;
    }

    .Picture {
        margin: 1%;
        margin-left: 0;
        margin-right: 1.5%;
        margin-top: 1%;
        height: 350px;
    }

    ul li {
        margin-bottom: 1.25rem;
    }
}